<p>homepage works!</p>

<div class="container">
  <h1>WELCOME</h1>

  <P>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quo aperiam
    consectetur voluptatum vero cum hic mollitia deleniti neque amet a quisquam
    iure modi commodi adipisci, sequi voluptate pariatur. In id maxime nisi,
    quaerat nobis facere nulla repudiandae, amet quo repellendus rerum
    perspiciatis! Quos fuga tempora facere dolores, non repellat?</P
  >
</div>

<div class="container">
  <h2>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, amet.
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
    necessitatibus, eum veritatis ut quibusdam provident unde odit assumenda
    nisi asperiores ipsa? Natus ut voluptatum adipisci aperiam eveniet atque
    reiciendis perferendis.
  </p>
</div>
<div class="container">
  <h2>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, amet.
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
    necessitatibus, eum veritatis ut quibusdam provident unde odit assumenda
    nisi asperiores ipsa? Natus ut voluptatum adipisci aperiam eveniet atque
    reiciendis perferendis.
  </p>
</div>
<div class="container">
  <h2>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, amet.
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
    necessitatibus, eum veritatis ut quibusdam provident unde odit assumenda
    nisi asperiores ipsa? Natus ut voluptatum adipisci aperiam eveniet atque
    reiciendis perferendis.
  </p>
</div>
<div class="container">
  <h2>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, amet.
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
    necessitatibus, eum veritatis ut quibusdam provident unde odit assumenda
    nisi asperiores ipsa? Natus ut voluptatum adipisci aperiam eveniet atque
    reiciendis perferendis.
  </p>
</div>
