<div class="container">
  <h2>Ajouter un film</h2>
  <form>
    <div class="form-group d-flex flex-column">
      <label> Nom</label> <input type="text" />
    </div>
    <div class="form-group d-flex flex-column">
      <label> Annee de Sortie</label> <input type="number" />
    </div>

    <div class="form-group d-flex flex-column">
      <label> Realisateur</label> <input type="text" />
    </div>
    <div class="form-group d-flex flex-column">
      <label> Duree</label> <input type="number" />
    </div>
    <div class="form-group d-flex flex-column">
      <label> image</label> <input type="url" />
    </div>
    <button class="btn">Valider</button>
  </form>
</div>
