/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: "Lato", sans-serif;
  $primary: #0e352b;
  $secondary: #ebb577;
  $accent: #807832;
  $lightgray: #ddd;
  $text-regular: #444;
}

body {
  font-family: var(--font-family);
  color: var(--text-regular);
}

//Layout

.container {
  max-width: 1200px;
  display: block;
  margin: auto;
  padding: 20px;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-between {
  align-items: space-between;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-50 {
  flex: 1 1 50%;
}
//utils
.pr-10 {
  padding-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  max-width: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

//theme

.list-primary {
  li {
    padding: 10px 15px;
    border: 1px solid var(--lightgray);
    border-top: 0;
    &:hover {
      background-color: var(--primary);
      color: white;
      font-weight: 500;
    }

    transition: all 0.4s;
    cursor: pointer;
  }
  :first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.btn {
  padding: 10px 15px;
  background-color: rgb(44, 21, 82);
  border: 0;
  border-radius: 3px;
  font-weight: 700;
  color: white;
  &-primary {
    background-color: var(--primary);
    &:hover {
      background-color: var(--secondary);
    }
    transition: background-color 0.4s;
  }
  cursor: pointer;
}
